.dsc-category {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--dsc-color-bg-tertiary);
    border-radius: 4px;

    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--dsc-color-bg-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}