.dsc-product-details-top {
    padding: 10px;

    display: flex;
    justify-content: center;

}

.dsc-line-bottom {
    border-bottom: 1px solid var(--dsc-color-card-border);
}

.dsc-product-details-bottom {
    padding: 10px 20px;
}

.dsc-product-details-bottom h3 {
    color: var(--dsc-color-font-secondary);
    font-size: 20px;
}

.dsc-product-details-bottom h4 {
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}

.dsc-product-details-bottom p {
    margin-top: 10px;
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}

.dsc-product-details-top img {
    margin: 10px 0;
    width: 220px;
}

.dsc-category-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}