@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*------------------------------------------------------------------*/
/* generic styles */

:root {
    --dsc-color-bg-primary: #e8e8e8;
    --dsc-color-bg-secondary: #FFE500;
    --dsc-color-bg-tertiary: #636363;
    --dsc-color-font-quartenary: #0caf1d;

    --dsc-color-card-bg: #fff;
    --dsc-color-card-border: #d9d9d9;

    --dsc-color-btn-primary: #3483fa;
    --dsc-color-btn-inverse: #fff;

    --dsc-color-font-primary: #636363;
    --dsc-color-font-secondary: #0caf1d;
    --dsc-color-font-tertiary: #fff;
    --dsc-color-font-placeholder: #d9d9d9;

    --dsc-color-error: #ff3333
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    background-color: var(--dsc-color-bg-primary);
}

main {
    padding: 0 20px;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.dsc-mb20 {
    margin-bottom: 20px;
}

.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsc-mt20 {
    margin-top: 20px;
}

.dsc-section-title {
    font-size: 16px;
    text-align: center;
    color: var(--dsc-color-font-primary);
}

.dsc-txt-left {
    text-align: left;
}

@media(min-width: 576px) {
    .dsc-section-title {
        font-size: 24px;
        text-align: left;
    }
}

/*------------------------------------------------------------------*/
/* header styles */
header {
    height: 70px;

    display: flex;
    align-items: center;
    padding: 0 20px;
}

.dsc-header-admin {
    background-color: var(--dsc-color-font-quartenary);
    color: var(--dsc-color-font-tertiary);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 16px;
}

nav a {
    font-size: 14px;
    font-weight: 700;
}

.dsc-navbar-right {
    display: flex;
    align-items: center;
}

.dsc-menu-items-container {
    display: flex;

}

.dsc-menu-items-container img {
    width: 20px;
    height: 20px;

}

.dsc-menu-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.dsc-menu-item p {
    display: none;
    margin-left: 5px;
    font-size: 14px;
}

.dsc-menu-item-active {
    font-weight: 700;
}

.dsc-logged-user p {
    font-size: 12px;
}

.dsc-logged-user {
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media(min-width: 576px) {
    nav h1 {
        font-size: 24px;
    }

    .dsc-menu-item p {
        display: unset;
    }
}

/*------------------------------------------------------------------*/
/* card styles */

.dsc-line-bottom {
    border-bottom: 1px solid var(--dsc-color-card-border);
}

.dsc-card {
    background-color: var(--dsc-color-card-bg);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-card-border);
}

/*------------------------------------------------------------------*/
/* button styles */

.dsc-btn {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsc-btn-page-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

@media(min-width: 576px) {
    .dsc-btn-page-container {
        width: 220px;
    }

}

/*------------------------------------------------------------------*/
/* form styles */

.dsc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.dsc-form h2 {
    font-size: 16px;
    color: var(--dsc-color-font-primary);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.dsc-form-controls-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
}

.dsc-select:invalid {
    color: var(--dsc-color-font-placeholder);
}

.dsc-select option[disabled] {
    display: none;
}

.dsc-select option {
    color: var(--dsc-color-font-primary);
}

.dsc-form-control {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
    color: var(--dsc-color-font-primary);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-card-border);
}

.dsc-textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
}

.dsc-form-control:focus {
    outline: none;
}

.dsc-form-control::placeholder {
    color: var(--dsc-color-font-placeholder);
}

.dsc-input-error {
    border: 1px solid var(--dsc-color-error);
}

.dsc-form-error {
    color: var(--dsc-color-error);
    font-size: 12px;
    padding-left: 4px;
}

@media (min-width: 576px) {
    .dsc-form h2 {
        font-size: 24px;
    }
}

/*------------------------------------------------------------------*/
/* table styles */


.dsc-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsc-table thead {
    background-color: var(--dsc-color-card-bg);
    color: var(--dsc-color-font-primary);
    height: 55px;
    font-size: 14px;
}

.dsc-table tbody {
    text-align: center;
    background-color: var(--dsc-color-card-bg);
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}

.dsc-table tbody tr {
    height: 70px;
    border-top: 1px solid var(--dsc-color-card-border);
}

.dsc-table td:nth-child(2) {
    padding-left: 10px;
}

.dsc-table th:nth-child(2) {
    border-top-left-radius: 10px;
}

.dsc-table th:last-child {
    border-top-right-radius: 10px;
}

.dsc-table td:last-child {
    padding-right: 5px;
}


.dsc-tb576 {
    display: none;
}

.dsc-tb768 {
    display: none;
}

@media (min-width: 576px) {
    .dsc-tb576 {
        display: table-cell;
        /* UTILIZADO PARA APARECER OS ITENS DE TD E TH */
    }

    .dsc-table td:nth-child(1) {
        padding-left: 20px;
    }

    .dsc-table th:nth-child(1) {
        padding-left: 20px;
        border-top-left-radius: 10px;
    }

    .dsc-table td:nth-child(2) {
        padding-left: 0;
    }

    .dsc-table th:nth-child(2) {
        border-top-left-radius: 0px;
    }

}

@media (min-width: 768px) {
    .dsc-tb768 {
        display: table-cell;
        /* UTILIZADO PARA APARECER OS ITENS DE TD E TH */
    }
}

@media (min-width: 992px) {
    .dsc-table tbody {
        font-size: 16px;
    }
}




/* COLA

table        { display: table; }
tr           { display: table-row; }
td, th       { display: table-cell; }
thead        { display: table-header-group; }
tbody        { display: table-row-group; }
tfoot        { display: table-footer-group; }

*/